<!DOCTYPE html>
<html>
    <head>
        <% include templates/head.ejs %>
    </head>
    <body>
    	<div class="container-fluid">
    		<%- body %>
       		<% include templates/footer.ejs %>
    	</div>
    </body>
</html>
