<% layout('layout') -%>

<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">
		<h2>Welcome, <%=user.displayName%>!</h2>
	</div>

	<% if(user.photo){ %>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<img src="<%=user.photo%>" title="<%=user.displayName%>">
	</div>
	<% } %>

</div>


<div class="row">
	<div class="col-md-12">
		<a href="/auth/signout" class="btn btn-danger">Sign Out</a>
	</div>
</div>
