<% layout('layout') -%>

<div class="row">
	<div class="col-md-12">
		<h2>Welcome, <%=user.displayName%>!</h2>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<a href="/auth/signout" class="btn btn-danger">Sign Out</a>
	</div>
</div>
