<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title><%=title%></title>

<!-- bower:css -->
<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" />
<!-- endbower -->

<!-- inject:css -->
<link rel="stylesheet" href="/stylesheets/style.css">
<!-- endinject -->
